/**
-------------------------
Layout of components
-------------------------
 */

/* HEADER */
.title-container {
    margin: auto 0;
}

.title-container .title {
    font-size: 2em;
    margin: 0;
}

/* NAVIGATION */
.header-navigation {
    display: flex;
    justify-content: space-around;
    padding: 0;
    height: 35px;
    margin: auto 0;
}
.header-navigation .btn {
    background: #FFFF;
    border: 1px solid #000000;
    padding: 10px 10px;
    box-shadow: 3px 2px 2px  #000000;
    text-align: center;
    font-size: 14px;
    margin: 0 10px;
}

.header-navigation .btn:hover {
    background: #000000;
    color: #FFFF;
    cursor: pointer;
}

/* PRODUCT FORM IN ADD PRODUCT */
.product-form {
    display: flex;
    flex-direction: column;
}

.product-form .product-type-select {
    display: flex;
    width: 100px;
    height: 25px;
    border: 1px solid #000000;
    border-radius: 0;
    background: #FFFF;
}

.product-form .form-item {
    display: flex;
    height: 20px;
    justify-content: space-between;
    width: 250px;
    margin: 1em 0 10px 0;
}

.product-form .form-item > input {
    width: 150px;
}

.error {
    display: flex;
    width: 100%;
    color: #FF0000;
}

/*MAIN IN PRODUCT LIST */
.products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 40px;
    margin: 10px auto;
    padding: 0;
}

.products-container .product-card {
    padding: 20px 10px 35px 10px;
    border: 2px solid #000000;
}

.products-container .product-card > div{
    text-align: center;
}

.delete-checkbox:hover {
    cursor: pointer;
}